/*
 * Generic styles that apply to all view modes
 */
.web-stories-list a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.web-stories-list .web-stories-list__story-wrapper {
  position: relative;
  min-width: 285px;
  max-width: 400px;
  cursor: pointer;
}

.web-stories-list .web-stories-list__story-wrapper::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 166%;
}

.web-stories-list:not(.is-view-type-circles)
  .web-stories-list__story-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: 0;
  left: 0;
  z-index: 1;
}

.web-stories-list amp-story-player,
.web-stories-list .web-stories-list__inner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.web-stories-list .web-stories-list__story-placeholder {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* story content overlay styles */
.web-stories-list .story-content-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
}

.web-stories-list .story-content-overlay > * {
  flex-shrink: 0;
}

.web-stories-list .story-content-overlay > *:not(:last-child) {
  margin-bottom: 8px;
}

.web-stories-list .story-content-overlay__author {
  margin-top: 8px;
}

.web-stories-list .story-content-overlay__title,
.web-stories-list .story-content-overlay__excerpt {
  grid-column: 1/-1;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: 2; /* Browser support: https://caniuse.com/?search=line-clamp */
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  overflow: hidden;
}

.web-stories-list .story-content-overlay__excerpt {
  font-size: 16px;
  font-weight: 400;
  margin: initial;
  -webkit-line-clamp: 3; /* Browser support: https://caniuse.com/?search=line-clamp */
}

/* Grid View Styles */
.web-stories-list.is-view-type-grid {
  display: flex;
  flex-wrap: wrap;
}

.web-stories-list.is-view-type-grid .web-stories-list__story-wrapper {
  flex-basis: calc(100% - 16px);
  margin: 8px;
}

@media only screen and (min-width: 600px) {
  .web-stories-list.is-view-type-grid.columns-1
    .web-stories-list__story-wrapper {
    flex-basis: calc(100% - 32px);
  }

  .web-stories-list.is-view-type-grid.columns-2
    .web-stories-list__story-wrapper {
    flex-basis: calc(50% - 32px);
  }

  .web-stories-list.is-view-type-grid.columns-3
    .web-stories-list__story-wrapper {
    flex-basis: calc(33.3334% - 32px);
  }

  .web-stories-list.is-view-type-grid.columns-4
    .web-stories-list__story-wrapper {
    flex-basis: calc(25% - 32px);
  }

  .web-stories-list.is-view-type-grid.columns-5
    .web-stories-list__story-wrapper {
    flex-basis: calc(20% - 32px);
  }
}

/* List View Styles */
.web-stories-list.is-view-type-list .web-stories-list__story-wrapper {
  max-width: unset;
  min-width: unset;
  margin-bottom: 24px;
}

@media only screen and (min-width: 400px) {
  .web-stories-list.is-view-type-list .web-stories-list__story-wrapper::before {
    display: none;
  }

  .web-stories-list.is-view-type-list .web-stories-list__story-wrapper::after {
    padding-bottom: 30%;
  }

  .web-stories-list.is-view-type-list .story-content-overlay {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    color: #555555;
  }

  .web-stories-list.is-view-type-list .web-stories-list__inner-wrapper {
    display: flex;
  }
}

.web-stories-list.is-view-type-list .image-align-right {
  flex-direction: row-reverse;
}

.web-stories-list.is-view-type-list .web-stories-list__story-placeholder {
  height: 100%;
  width: 100%;
  flex-basis: 40%;
  flex-shrink: 0;
}

/* Circles View Styles */
.web-stories-list.is-view-type-circles {
  display: flex;
  overflow-x: scroll;
  padding: 5px;
}

.web-stories-list.is-view-type-circles .story-content-overlay {
  position: unset;
  background-color: transparent;
  box-shadow: unset;
  padding: 10px 0;
  text-align: center;
  color: #555555;
}

.web-stories-list.is-view-type-circles .story-content-overlay__title {
  font-size: 12px;
  line-height: 16px;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-wrapper {
  margin-right: 32px;
  flex-shrink: 0;
  max-width: 150px;
  min-width: unset;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-wrapper::after {
  content: none;
}

.web-stories-list.is-view-type-circles .web-stories-list__inner-wrapper {
  position: relative;
}

.web-stories-list.is-view-type-circles .web-stories-list__story-placeholder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-clip: content-box;
  border: 3px solid #666;
  padding: 2px;
}

.web-stories-list.is-view-type-circles
  .web-stories-list__story-placeholder:hover {
  border-color: #333;
}

/* Carousel View Styles */
.web-stories-list.is-view-type-carousel {
  position: relative;
}

.web-stories-list.is-view-type-carousel .glider-next,
.web-stories-list.is-view-type-carousel .glider-prev {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  top: 50%;
  font-size: 16px;
  color: white;
}

.web-stories-list.is-view-type-carousel .glider-next {
  right: 0;
}

.web-stories-list.is-view-type-carousel .glider-prev {
  left: 0;
}

.web-stories-list.is-view-type-carousel .web-stories-list__story-wrapper {
  min-width: 250px;
  margin-left: 0;
  margin-right: 16px;
}

.web-stories-list.is-view-type-carousel .story-content-overlay__title {
  white-space: normal; /* Not sure why this isn't the default behaviour */
}

.web-stories-list.is-view-type-carousel .web-stories-list__inner-wrapper {
  border: 1px solid #8080805e;
}

/* Stories archive link styles */
.web-stories-list__archive-link {
  margin-top: 16px;
}

/* Stories Block Styles */
.web-stories-list.is-style-default.is-view-type-grid
  .web-stories-list__story-wrapper,
.web-stories-list.is-style-default.is-view-type-list
  .web-stories-list__story-wrapper,
.web-stories-list.is-style-default.is-view-type-carousel
  .web-stories-list__story-wrapper {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #8080805e;
}

/* Lightbox styles */
.web-stories-list .web-stories-list__lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.web-stories-list .web-stories-list__lightbox.show {
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}

.web-stories-list .story-lightbox__close-button {
  display: inline-block;
  position: fixed;
  left: 10px;
  top: 15px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.web-stories-list .story-lightbox__close-button--stick {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 5px;
  height: 25px;
  width: 3px;
  background-color: #fff;
  transform: rotateZ(45deg);
}

.web-stories-list .story-lightbox__close-button--stick:first-child {
  transform: rotateZ(-45deg);
}

@media only screen and (max-width: 600px) {
  .web-stories-list .web-stories-list__lightbox amp-story-player {
    height: 100%;
    max-width: 100%;
  }

  .web-stories-list .story-lightbox__close-button {
    top: 5px;
    left: 0;
  }

  .web-stories-list .story-lightbox__close-button--stick {
    top: 15px;
    left: 20px;
    height: 20px;
  }
}
