/* Placeholder styles */
.web-stories.placeholder {
  align-items: center;
}

.web-stories.placeholder .components-placeholder__fieldset {
  justify-content: center;
}

/* Generic styles that apply to all view modes */
.web-stories .web-stories__controller {
  position: relative;
}

.web-stories .web-stories__controller::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.web-stories .web-stories__story-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.web-stories .web-stories__story-wrapper::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 177%;
}

.web-stories:not(.is-view-type-list):not(.is-view-type-circles)
  .web-stories__story-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: 0;
  left: 0;
  z-index: 1;
}

.web-stories .web-stories__story-wrapper a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.web-stories amp-story-player,
.web-stories .web-stories__inner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.web-stories .web-stories__story-placeholder {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* story content overlay styles */
.web-stories .story-content-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.web-stories .story-content-overlay > * {
  flex-shrink: 0;
}

.web-stories .story-content-overlay > *:not(:last-child) {
  margin-bottom: 8px;
}

.web-stories .story-content-overlay__title,
.web-stories .story-content-overlay__excerpt p {
  grid-column: 1/-1;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: 2; /* Browser support: https://caniuse.com/?search=line-clamp */
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  overflow: hidden;
}

.web-stories .story-content-overlay__excerpt p {
  font-size: 16px;
  font-weight: 400;
  margin: initial;
  -webkit-line-clamp: 4; /* Browser support: https://caniuse.com/?search=line-clamp */
}

/* Grid View Styles */
.web-stories.is-view-type-grid {
  display: flex;
  flex-wrap: wrap;
}

.web-stories.is-view-type-grid .web-stories__controller {
  flex-basis: calc(100% - 32px);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 16px;
  border: 1px solid #8080805e;
}

.web-stories.is-view-type-grid.columns-1 .web-stories__controller {
  flex-basis: calc(100% - 32px);
}

.web-stories.is-view-type-grid.columns-2 .web-stories__controller {
  flex-basis: calc(50% - 32px);
}

.web-stories.is-view-type-grid.columns-3 .web-stories__controller {
  flex-basis: calc(33.3334% - 32px);
}

.web-stories.is-view-type-grid.columns-4 .web-stories__controller {
  flex-basis: calc(25% - 32px);
}

.web-stories.is-view-type-grid.columns-5 .web-stories__controller {
  flex-basis: calc(20% - 32px);
}

/* List View Styles */
.web-stories.is-view-type-list .web-stories__story-wrapper {
  max-width: unset;
  min-width: unset;
  margin-bottom: 24px;
}

.web-stories.is-view-type-list .web-stories__story-wrapper::after {
  padding-bottom: 30%;
}

.web-stories.is-view-type-list .story-content-overlay {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  color: #555555;
}

.web-stories.is-view-type-list .web-stories__inner-wrapper {
  display: flex;
}

.web-stories.is-view-type-list .image-align-right {
  flex-direction: row-reverse;
}

.web-stories.is-view-type-list .web-stories__story-placeholder {
  height: 100%;
  width: 100%;
  flex-basis: 40%;
  flex-shrink: 0;
}

/* Circles View Styles */
.web-stories.is-view-type-circles {
  display: flex;
  overflow-x: scroll;
  padding: 5px;
}

.web-stories.is-view-type-circles .story-content-overlay {
  position: unset;
  background-color: transparent;
  box-shadow: unset;
  padding: 10px 0;
  text-align: center;
  color: #555555;
}

.web-stories.is-view-type-circles .story-content-overlay__title {
  font-size: 12px;
  line-height: 16px;
}

.web-stories.is-view-type-circles .web-stories__story-wrapper {
  margin-right: 32px;
  flex-shrink: 0;
  max-width: 150px;
  min-width: unset;
}

.web-stories.is-view-type-circles .web-stories__story-wrapper::after {
  content: none;
}

.web-stories.is-view-type-circles .web-stories__inner-wrapper {
  position: relative;
}

.web-stories.is-view-type-circles .web-stories__story-placeholder {
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-clip: content-box;
  border: 3px solid #666;
  padding: 2px;
}

.web-stories.is-view-type-circles .web-stories__story-placeholder:hover {
  border-color: #333;
}

/* Carousel view styles */
.web-stories-carousel-message {
  font-size: 14px;
  margin: 0 0 16px 0;
}

.web-stories.is-view-type-carousel {
  display: flex;
  overflow-x: scroll;
}

.web-stories.is-view-type-carousel .web-stories__story-wrapper {
  margin-right: 32px;
  min-width: 250px;
  flex-shrink: 0;
  border: 1px solid #8080805e;
}

/* Stories Block Styles */

.web-stories.is-style-default.is-view-type-grid .web-stories__controller,
.web-stories.is-style-default.is-view-type-list .web-stories__story-placeholder,
.web-stories.is-style-default.is-view-type-carousel
  .web-stories__story-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

/* Stories archive link styles */
.web-stories__archive-link {
  margin-top: 16px;
}

/* Setting controls styles */
.components-toggle-control.is-disabled .components-form-toggle__track {
  background-color: lightgrey;
  border-color: lightgrey;
}

.components-toggle-control.is-disabled .components-form-toggle__thumb {
  background-color: #fff;
  border-color: #fff;
}

.components-toggle-control.is-disabled .components-form-toggle__input,
.components-toggle-control.is-disabled .components-toggle-control__label {
  cursor: unset;
}

.components-input-control__input {
  text-align: center;
}

.web-stories-settings__image-alignment .components-base-control__field {
  display: flex;
  align-items: center;
}

.web-stories-settings__image-alignment .components-base-control__label {
  margin-right: 8px;
  margin-bottom: 0;
}
